<ion-content scrollY="false">
  <div class="bg-image" [ngStyle]="{'background-image' : 'url(assets/img/1.jpg)', 
                                    'background-position-y' : '-30px' }">
  </div>
  <div class="bg-mask" [ngStyle]="{'background' : 'linear-gradient(rgba(125, 185, 232, 0) 0%, rgb(59, 66, 115) 20%, rgb(35, 43, 64) 100%)'}">
  </div>
  <div class="content">
    <!-- Offer -->
    <h1 style="color:#ffffff;">капитанский Комплект</h1>
    <!-- Description -->
    <p style="color:#ffffff;">
      Родители обезумели от этого вязаного комплекта для малыша! 5 предметов в комплекте!
    </p>
    <!-- Action -->
    <ion-button color="light" expand="block" (click)="goNext();">Продолжить</ion-button>
  </div>
</ion-content>