// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
}

ion-header ion-title {
    font-size: 18px;
    font-weight: 600;
}

h1[header] {
    margin-top: 0px;
    font-size: 30px;
    font-weight: 800;
    margin-left: 20px;
}

h2[header] {
    margin-left: 20px;
    font-size: 24px;
    font-weight: 800;
}

@media (min-width: 470px) {

    body {
        background: #f0f0f0;
        overflow: scroll;
        position: relative;
    }
    
    ion-app {
        width: 470px;
        max-width: 470px;
        min-height: 667px;
        margin-left: auto !important;
        margin-right: auto !important;
        box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.1);
    }
    
  }
  

