ion-content {
    --padding-start: 0px;
    --padding-end: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// List view
.items-list {
    margin-top: 25px;
    margin-bottom: 0;

    .img {
        width: 80px;
        height: 80px;
        border-radius: 10px;
        margin-left: 20px;
        background-position-x: center;
    }

    ion-item {
        height: 100px;
        width: 90%;
        margin: auto;
        box-shadow: 0 15px 20px 0 rgba(102, 102, 102, 0.08);
        border-radius: 10px;
        margin-bottom: 10px;
        transition: all 100ms ease-in-out;
        --background: #ffffff;

        &:last-child {
            margin-bottom: 30px;
        }

        &.disabled {
            --background: rgb(240, 240, 240);
        }
    }

    .item-body {
        --background: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 100px;
        max-height: 100px;

        --inner-padding-top: 26px;
        --inner-padding-bottom: 26px;
        --padding-start: 0;
        --inner-border-width: 0;
        --detail-icon-font-size: 12px;
        --detail-icon-opacity: 0.5;
        --inner-padding-end: 16px;
    }

    .label {
        margin-left: 20px;
    }

    .title {
            width: 100%;
            font-size: 17px;
            font-weight: 600;
            margin-bottom: 10px;
            color: #333333;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
    }

    .props {
            font-size: 13px;
            color: #aaaaaa;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
    }

    .status {
        margin-top: 10px;
        font-size: 12px;
        color: #666666;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .dot {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            display: inline-block;
            margin-right: 3px;

            &.green {
                background: #7fb17d;
            }

            &.red {
                background: #bf2b43;
            }
        }
    }
}

.content {
    // margin-left: 20px;
    // margin-right: 20px;
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;

    ion-button {
        width: 90%;
        margin: auto;
        margin-bottom: 30px;
        font-size: 17px;
        height: 50px;
    }
}