a { color:#000000; }

#About {
  padding: 20px 30px;
  background-color: #f9f9f9;
  color: #494949;
  border-bottom: 1px solid #e0e0e0;
  display: flex;

  div.avatar { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 25px;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }

  div.text > h1 {
    font-weight: bold !important;
  }

  div.text > h1,h2,h3,h4 {
    font-size:15px;
    font-weight: normal;
    margin: 6px 6px;
  }
}

#Tech {
  .technologies {
    background: #222;

    .item {
      padding-left: 30px;
      padding-right: 30px;
      height: 80px;
      background: #222;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #303030;
    }

    .item > .image {
      background-size: cover;
      background-position: center center;
      width: 50px;
      height: 50px;
      flex-shrink: 0;
    }

    .item > .label {
      margin-left: 20px;
      width: 100%;
    }

    .label > .title {
      width: 100%;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 5px;
      color: #cecece;
    }

    .label > .status {
      font-size: 13px;
      color: #828282;
    }

    .label > .status > .date {
      font-size: 11px !important;
      margin-left: 5px;
      color: #888;
    }

    .label > .status > .dot {
      background: #8da897;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 5px;
    }

    .item > .linked {
      flex-shrink: 0;

      img {
        width: 15px;
        height: 15px;
      }
    }
  }
}

#Solutions,
#Popular,
#Reviews,
#Payments {
  padding: 30px;
  border-bottom: 1px solid #e0e0e0;
}